{% extends 'core/base.html' %}
{% block title %}create-user-account | {% endblock %}
{% block content %}
  <!--Main layout-->
<main>
    <h2 class="my-4">Create User Account</h2>
    <form action="" method="post" autocomplete="on">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary ">Submit</button>
    </form>
        <h3 class="my-4 subtitle">Already have an account? <a href="{% url 'login' %}">Login</a></h3>
</main>
  <!--Main layout-->
{% endblock %}